*
{
  color: #999999;
  font-size: 20px;
  font-weight: 300;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-weight: 400;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}

.button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.startbutton {
  background-color: #61ca65; /* Green */
}

.stopbutton {
  background-color: #c53030; /* Green */
}


.cubeConsole {
    margin-top: 18px;
    padding-left: 8px;
    background: #222;
    color: #aaa;
    font-family: monospace;
    height: 10em;
    line-height: 1.1;
    overflow: auto;
}

h2
{
  color: #eee;
  font-size: 28px;
  font-weight: 600;
}

body
{
  background-color: #323232;
  padding: 10px;
}

header,
nav,
section,
aside,
footer
{
  text-align: center;
  background-color: #666666;
  border-radius: 5px;
  padding: 10px;
}

header,
nav,
footer
{
  width: 100%;
  padding: 10px;
}

header
{
  margin-bottom: 10px;
}

h1
{
  margin: 0;
}

nav,
aside
{
  width: 25%;
}

section
{
  float: left;
  width: calc(60% - 100px);
  margin: 0 50px 50px 50px;
}

section header,
section article,
section footer
{
  width: 100%;
  background-color: #999999;
  border-radius: 5px;
  margin: 0;
  padding: 50px;
}

section article
{
  margin: 25px 0;
}

nav
{
  float: left;
}

aside
{
  float: right;
}

nav ul
{
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

nav li
{
  display: inline-block;
  margin: 0 0 0 50px;
  width: 100px;
}

nav li:first-child
{
  margin-left: 0;
}

footer
{
  clear: both;
}